body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-weight: bold;
    font-size: clamp(35px, 5vw, 60px);
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

h2 {
    font-weight: normal;
    font-size: clamp(15px, 5vw, 30px);
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    font-weight: bold;
    font-size: clamp(25px, 5vw, 50px);
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    font-size: clamp(8px, 5vw, 16px);
    line-height: 1.6;
    font-weight: lighter;
    margin-left: 10%;
    margin-right: 10%;
}

#one {
    margin-top: 5%;
}

table {
    width: fit-content;
    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

td,
th {

    border-bottom: 1px solid #ccc;
    /* Light gray border for the bottom of each cell */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    text-align: left;
}

/* Optional: If you want to have the last row without a border */
tbody tr:last-child td {
    border-bottom: none;
}