body {
    background-color: #F5F5DC;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.box {
    /*border: 1px solid #ddd;*/
    padding: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: clamp(20px, 5vw, 35px);
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

.box h3 {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    padding-bottom: 5px;
}